# TELEGRAM BOT API TOKEN
# 1. Откройте Telegram и найдите бота @BotFather
# 2. Напишите команду /newbot и следуйте инструкциям
# 3. Скопируйте выданный HTTP API Token и вставьте ниже
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# TELEGRAM CHAT ID
# 1. Найдите в Telegram бота @userinfobot
# 2. Напишите ему /start
# 3. Скопируйте свой Id и вставьте ниже
TELEGRAM_CHAT_ID=your_chat_id_here